html{
    font-family: 'Roboto' !important;
}
body{
    font-family: 'Roboto' !important;
}
.m-brand__logo-wrapper img{
    width: 150px;
}
#mTreeDanhMuc{
    overflow-x: scroll;
    padding-bottom: 20px;
}

/*@media (min-width: 993px) {*/
    /*.m-footer--push.m-aside-left--enabled:not(.m-footer--fixed) .m-aside-right, .m-footer--push.m-aside-left--enabled:not(.m-footer--fixed) .m-wrapper{*/
        /*margin-bottom: 150px !important;*/
    /*}*/
    /*footer{*/
        /*margin-top: -150px !important;*/
        /*height: 150px !important;*/
    /*}*/
/*}*/
.m-datatable__body{
    min-height: 200px;
}
.m-aside-left{
    height: 100%;
    box-shadow: 0 1px 15px 1px rgba(113, 106, 202, .1);
}
.m-menu__item:hover{
    color: #0a8cf0 !important;
}
.m-menu__item a:hover{
    color: #0a8cf0 !important;
}
.m-menu__item a i:hover{
    color: #0a8cf0 !important;
}
.m-menu__item a span:hover{
    color: #0a8cf0 !important;
}
footer{
    font-family: "Roboto";
    color: #0a8cf0;
}
footer img{
    width: 150px;
}
footer h3{
    margin: 20px 0;
}
footer h4{
    margin: 10px 0;
}
.carousel-indicators{
    text-align: center;
}
.carousel-indicators img{
    width: 60px;
}
.carousel-inner{
    max-height: 600px;
}
.hide{
    display: none;
}
.nav-username{
    vertical-align: middle;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1.5rem!important;
}
.white{
    color: #ffffff !important;
}